{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
    <p>of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap </p>
    <p>into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of </p>
    <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus </p>
    <p>PageMaker including versions of Lorem Ipsum.</p>
{{end}}